@{
    ViewData["Title"] = "Quote View Page";
}
<h1>@ViewData["Title"]</h1>

<p>Great minds discuss ideas; average minds discuss events; small minds discuss people.</p>

<a class="nav-link text-dark" asp-area="" asp-controller="Quote" asp-action="Index">Go Back to Quotes</a>
